@model Chef

<div class="text-center">
    <form action="/Chefs/add" method="post">
        <div class="from-group">
            <label for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="from-group">
            <label for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="from-group">
            <label for="DOB">DOB</label>
            <input asp-for="DOB" type="date" class="form-control">
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
        <div class="from-group">
            <input type="submit" value="Add Chef" class="btn btn-danger">
        </div>

    </form>