@model User

<h1>Enter your information below:</h1>
<form asp-action="Create" asp-controller="Home" method="post">
    <span asp-validation-for="firstname"></span>
    <label class="form-label" asp-for="firstname">First Name</label>
    <input class="form-control" asp-for="firstname">    
    <span asp-validation-for="lastname"></span>
    <label class="form-label" asp-for="lastname">Last Name</label>
    <input class="form-control" asp-for="lastname">
    <span asp-validation-for="age"></span>
    <label class="form-label" asp-for="age">Age</label>
    <input class="form-control" asp-for="age">      
    <span asp-validation-for="email"></span>
    <label class="form-label" asp-for="email">Email</label>
    <input class="form-control" id="exampleInputEmail1" asp-for="email">
    <span asp-validation-for="password"></span>
    <label class="form-label" asp-for="password">Password</label>
    <input class="form-control" id="exampleInputPassword1" asp-for="password">
    <input class="btn btn-primary" value="Add User" type="submit">    
</form>