<h1>
    the current time and date :
</h1>
<h2>
    @ViewBag.CurrentTime.ToString("MMMM") @ViewBag.CurrentTime.Day, @ViewBag.CurrentTime.Year <br>
    @ViewBag.CurrentTime.ToString("h:mm tt")
</h2>