<h1>Submitted Info</h1>
    <p>Name: @Model.Name </p>
    <p>Language: @Model.Languages </p>
    <p>Location: @Model.Locations </p>
    <p>Comment: @Model.Comments </p>
<a class="btn"href="/">Go Back</a>